@if (breadcrumbItems.length > 0) {
<admin-breadcrumbs [items]="breadcrumbItems"></admin-breadcrumbs>
}

<div class="row align-items-center mb-4">
    <div class="col-md">
        <h2 class="page-title">
            {{ pageTitle }}
        </h2>
    </div>
</div>

@if (config && config.tabs) {
<div class="admin-tabs">
    <ul class="nav nav-tabs" role="tablist">
        @for (tab of config.tabs; track $index; let i = $index) {
        <li class="nav-item" role="presentation">
            <button class="nav-link" [class.active]="i === selectedIndex" type="button" role="tab"
                (click)="onTabClick(i)">
                {{ tab.label }}
            </button>
        </li>
        }
    </ul>

    @if (config.tabs.length > 0) {
    <div class="tab-content mt-4">
        <ng-template #dynamicComponentHost></ng-template>
    </div>
    }
</div>
}

<ng-content select="[after-tabs]"></ng-content>