.entity-meta {
    border-bottom: 1px solid rgba(0, 0, 0, 0.04);
    margin-top: -4px;
}

.entity-meta a {
    font-size: 13px;
}

.entity-meta a:hover {
    text-decoration: none;
}

.entity-meta a i {
    font-size: 12px;
    margin-right: 2px;
    position: relative;
    top: 0.65px;
}

.entity-meta .fa-external-link-alt {
    font-size: 13px;
    opacity: 0.9;
}

.detail-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: start;
}

.field {
    display: flex;
    gap: 12px;
    align-items: flex-start;
    padding: 8px 0;
    border-bottom: 1px dashed rgba(0, 0, 0, 0.06) !important;
}

.field.full-width {
    grid-column: 1 / -1;
}

.label {
    width: 140px;
    font-weight: 600;
    font-size: 14px;
}

.value {
    font-size: 16px;
    line-height: 19px;
}

.subtle {
    font-size: 13px;
    /* margin-top: 4px; */
    display: block;
}

.muted-note {
    margin-top: 8px;
    font-size: 13px;
    line-height: 15px;
}

@media (max-width:1084px) {
    .detail-grid {
        grid-template-columns: 1fr;
    }

    .label {
        width: 120px;
    }
}


/* action area */
.actions {
    margin-top: 18px;
    display: flex;
    /* gap: 12px; */
    align-items: center;
}

.actions button:not(:last-child) {
    margin-right: 16px;
}
