<div class="row">
    <div class="col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-body">
                <form novalidate [formGroup]="dataForm" (ngSubmit)="onSave()">

                    @for (input of config.elements; track $index) {
                    <div class="mb-3">

                        <!-- Single Controls -->
                        @if (input.mode === undefined || input.mode === DataFormControlMode.Control) {

                        @if (input.type === TEXT) {
                        <label [for]="input.id" class="form-label">{{ input.label }}@if (isRequired(input)) {<span
                                class="required-indicator">*</span>}
                            @if (input.description) {
                            <span class="field-info-icon" [tooltip]="input.description">
                                <i class="fa fa-info"></i>
                            </span>
                            }
                        </label>
                        <input type="text" class="form-control" [id]="input.id" [formControlName]="input.name"
                            [class.is-invalid]="displayMessages[input.name]" autocomplete="off">
                        <div class="invalid-feedback">
                            {{ displayMessages[input.name] }}
                        </div>
                        }

                        @if (input.type === DATE) {
                        <label [for]="input.id" class="form-label">{{ input.label }}@if (isRequired(input)) {<span
                                class="required-indicator">*</span>}
                            @if (input.description) {
                            <span class="field-info-icon" [tooltip]="input.description">
                                <i class="fa fa-info"></i>
                            </span>
                            }
                        </label>
                        <input type="date" class="form-control" [id]="input.id" [formControlName]="input.name"
                            [class.is-invalid]="displayMessages[input.name]">
                        <div class="invalid-feedback">
                            {{ displayMessages[input.name] }}
                        </div>
                        }

                        @if (input.type === NUMBER) {
                        <label [for]="input.id" class="form-label">{{ input.label }}@if (isRequired(input)) {<span
                                class="required-indicator">*</span>}
                            @if (input.description) {
                            <span class="field-info-icon" [tooltip]="input.description">
                                <i class="fa fa-info"></i>
                            </span>
                            }
                        </label>
                        <input type="number" class="form-control" [id]="input.id" [formControlName]="input.name"
                            [class.is-invalid]="displayMessages[input.name]">
                        <div class="invalid-feedback">
                            {{ displayMessages[input.name] }}
                        </div>
                        }

                        @if (input.type === SELECT) {
                        <label [for]="input.id" class="form-label">{{ input.label }}@if (isRequired(input)) {<span
                                class="required-indicator">*</span>}
                            @if (input.description) {
                            <span class="field-info-icon" [tooltip]="input.description">
                                <i class="fa fa-info"></i>
                            </span>
                            }
                        </label>
                        <select class="form-select" [id]="input.id" [formControlName]="input.name"
                            [class.is-invalid]="displayMessages[input.name]">
                            <option value="">Odaberite opciju</option>
                            @for (option of input.values; track $index) {
                            <option [value]="option.value">
                                {{ option.label }}
                            </option>
                            }
                        </select>
                        <div class="invalid-feedback">
                            {{ displayMessages[input.name] }}
                        </div>
                        }

                        @if (input.type === SEARCHABLE_SELECT && input.dataService) {

                        <label [for]="input.id" class="form-label">{{ input.label }}@if (isRequired(input)) {<span
                                class="required-indicator">*</span>}
                            @if (input.description) {
                            <span class="field-info-icon" [tooltip]="input.description">
                                <i class="fa fa-info"></i>
                            </span>
                            }
                        </label>
                        <input type="hidden" class="form-control" [id]="input.id" [formControlName]="input.name"
                            [class.is-invalid]="displayMessages[input.name]">

                        <admin-searchable-select [inputName]="input.name" [dataService]="input.dataService"
                            [initialValue]="getFormInputValue(input.name)" [invalid]="!!displayMessages[input.name]"
                            [disabled]="input.disabled" [itemComponent]="input.itemComponent"
                            [itemComponentInputsFn]="input.itemComponentInputsFn"
                            (onSelectEvent)="onSearchableSelectChange(input.name, $event)">
                        </admin-searchable-select>

                        <div class="invalid-feedback d-block">
                            {{ displayMessages[input.name] }}
                        </div>
                        }

                        @if (input.type === TEXTAREA) {
                        <label [for]="input.id" class="form-label">{{ input.label }}@if (isRequired(input)) {<span
                                class="required-indicator">*</span>}
                            @if (input.description) {
                            <span class="field-info-icon" [tooltip]="input.description">
                                <i class="fa fa-info"></i>
                            </span>
                            }
                        </label>
                        <textarea class="form-control" [id]="input.id" [formControlName]="input.name"
                            [class.is-invalid]="displayMessages[input.name]" autocomplete="off"></textarea>
                        <div class="invalid-feedback">
                            {{ displayMessages[input.name] }}
                        </div>
                        }

                        @if (input.type === TIME) {
                        <label [for]="input.id" class="form-label">{{ input.label }}@if (isRequired(input)) {<span
                                class="required-indicator">*</span>}
                            @if (input.description) {
                            <span class="field-info-icon" [tooltip]="input.description">
                                <i class="fa fa-info"></i>
                            </span>
                            }
                        </label>
                        <input type="time" class="form-control" [id]="input.id" [formControlName]="input.name"
                            [class.is-invalid]="displayMessages[input.name]">
                        <div class="invalid-feedback">
                            {{ displayMessages[input.name] }}
                        </div>
                        }

                        @if (input.type === CHECKBOX) {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" [id]="input.id"
                                [formControlName]="input.name">
                            <label class="form-check-label" [for]="input.id">
                                {{ input.label }}
                            </label>
                        </div>
                        }

                        }

                        <!-- Array Types -->
                        @if (input.mode === DataFormControlMode.Array) {
                        <div [formArrayName]="input.name" class="form-array-section">
                            <label class="form-label mb-2">{{ input.label }}@if (isRequired(input)) {<span
                                    class="required-indicator">*</span>}</label>

                            <div class="form-array-list">
                                @for (el of getFormArray(input.name).controls; track el; let i = $index) {
                                <div class="form-array-item">
                                    <div class="form-array-field">

                                        @if (input.type === TEXT) {
                                        <input type="text" class="form-control" [formControlName]="i"
                                            [class.is-invalid]="displayMessages[input.name + i]" autocomplete="off" />
                                        }

                                        @if (input.type === SELECT) {
                                        <select class="form-select" [id]="i" [formControlName]="i"
                                            [class.is-invalid]="displayMessages[input.name + i]">
                                            <option value="">Odaberite opciju</option>
                                            @for (option of input.values; track $index) {
                                            <option [ngValue]="option.value">
                                                {{ option.label }}
                                            </option>
                                            }
                                        </select>
                                        }

                                        @if (input.type === SEARCHABLE_SELECT && input.dataService) {

                                        <input type="hidden" class="form-control" [formControlName]="i">
                                        <admin-searchable-select [inputName]="input.name"
                                            [dataService]="input.dataService" [initialValue]="el.value"
                                            [itemComponent]="input.itemComponent"
                                            [itemComponentInputsFn]="input.itemComponentInputsFn"
                                            (onSelectEvent)="onSearchableSelectChangeInArray(input.name, i, $event)">
                                        </admin-searchable-select>
                                        }

                                        @if (displayMessages[input.name + i]) {
                                        <div class="invalid-feedback">
                                            {{ displayMessages[input.name + i] }}
                                        </div>
                                        }
                                    </div>

                                    <button type="button" class="btn btn-action danger" tooltip="Obriši stavku"
                                        (click)="deleteInputFromFormArray(input.name, i)">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                                }
                            </div>

                            <button type="button" class="btn btn-action success mt-1"
                                (click)="addInputToFormArray(input.name)">
                                <i class="fa fa-plus"></i> Dodaj stavku
                            </button>
                        </div>
                        }

                        <!-- ArrayGroup Types -->
                        @if (input.mode === DataFormControlMode.ArrayGroup) {
                        <div [formArrayName]="input.name" class="form-array-section">
                            <label class="form-label mb-2">{{ input.label }}@if (isRequired(input)) {<span
                                    class="required-indicator">*</span>}</label>

                            <div class="form-array-list">
                                @for (el of getFormArray(input.name).controls; track el; let i = $index) {
                                <div class="form-array-item form-array-group-item" [formGroupName]="i">
                                    @for (field of input.groupFields; track field.name) {
                                    <div class="form-array-group-field">
                                        <label class="form-label form-label-sm">{{ field.label }}</label>

                                        @if (field.type === SELECT) {
                                        <select class="form-select" [formControlName]="field.name"
                                            [class.is-invalid]="displayMessages[input.name + i + '_' + field.name]">
                                            <option value="">Odaberite opciju</option>
                                            @for (option of field.values; track $index) {
                                            <option [value]="option.value">{{ option.label }}</option>
                                            }
                                        </select>
                                        }

                                        @if (field.type === NUMBER) {
                                        <input type="number" class="form-control" [formControlName]="field.name"
                                            [class.is-invalid]="displayMessages[input.name + i + '_' + field.name]"
                                            min="1">
                                        }

                                        @if (displayMessages[input.name + i + '_' + field.name]) {
                                        <div class="invalid-feedback d-block">
                                            {{ displayMessages[input.name + i + '_' + field.name] }}
                                        </div>
                                        }
                                    </div>
                                    }

                                    <div class="form-array-group-action">
                                        <span class="form-array-group-action-spacer"></span>
                                        <button type="button" class="btn btn-action danger" tooltip="Obriši stavku"
                                            (click)="deleteInputFromFormArray(input.name, i)">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                                }
                            </div>

                            @if (displayMessages[input.name]) {
                            <div class="invalid-feedback d-block mt-1">{{ displayMessages[input.name] }}</div>
                            }

                            <button type="button" class="btn btn-action success mt-1"
                                (click)="addGroupToFormArray(input.name)">
                                <i class="fa fa-plus"></i> Dodaj stavku
                            </button>
                        </div>
                        }

                    </div>
                    }

                    <button type="submit" class="btn btn-primary" style="margin-right: 5px;"
                        [disabled]="!dataForm.valid || formProcessing">
                        @if (formProcessing) {
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        } @else {
                        <span>Spremi</span>
                        }
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>