.table {
    margin-bottom: 0;
}

.table th {
    position: relative;
}

.table tbody td {
    vertical-align: middle;
}

.table thead th .sort-icons {
    position: absolute;
    top: 0px;
    right: 0px;
    height: auto;
}

.table thead th .sort-icons .btn.up {
    position: absolute;
    padding: 0;
    top: 10px;
    right: 5px;
    line-height: 0;
}

.table thead th .sort-icons .btn.down {
    position: absolute;
    padding: 0;
    top: 20px;
    right: 5px;
    line-height: 0;
}

.table thead th .sort-icons .btn:active,
.table thead th .sort-icons .btn:focus {
    outline: none !important;
    box-shadow: none;
}

.table.table thead th .sort-icons .btn i {
    color: #ddd;
}

.table.table thead th .sort-icons .btn.active i {
    color: #333;
}

.table-search .form-control {
    height: auto;
    border: 0;
    outline: none;
}

.table-search .form-control:focus {
    border-color: #bac8f3;
    outline: 0;
}

.table-search .input-group {
    width: 350px;
}

.input-group>.input-group-append>.btn,
.input-group>.input-group-append>.input-group-text,
.input-group>.input-group-prepend:first-child>.btn:not(:first-child),
.input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child),
.input-group>.input-group-prepend:not(:first-child)>.btn,
.input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.table-footer {
    font-size: 15px;
}

.pagination {
    display: flex;
    padding-left: 0;
    list-style: none;
    color: #69707a;
}

.page-link {
    position: relative;
    display: block;
    margin-left: -1px;
    line-height: 1.25;
}

.page-link:hover {
    z-index: 2;
    text-decoration: none;
}

.page-link:focus {
    z-index: 3;
    outline: 0;
}

.page-item:first-child .page-link {
    margin-left: 0;
}

.page-item.active .page-link {
    z-index: 3;
}

.page-item.disabled .page-link {
    pointer-events: none;
    cursor: auto;
}

.clear-btn {
    position: absolute;
    top: 48%;
    right: 50px;
    transform: translateY(-50%);
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 13px;
    line-height: 1;
    padding: 0;
    z-index: 3;
}

.clear-btn i {
    font-weight: 100;
    opacity: 0.6;
}

.clear-btn:hover i {
    opacity: 0.9;
}

.input-group .form-control:focus {
    z-index: 2;
    position: relative;
}

.table.table-hover {
    --bs-table-hover-bg: rgba(224, 229, 236, 0.25);
    --bs-table-hover-color: inherit;
}
