<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">{{ config.title }}</h6>
    </div>
    <div class="card-body">

        <div class="row mb-3" *ngIf="config.search">
            <div class="col-5">
                <form [formGroup]="searchForm" class="d-none d-sm-inline-block form-inline table-search"
                    (ngSubmit)="onSearch()">
                    <div class="input-group">
                        <input type="text " class="form-control bg-light" placeholder="{{config.search.placeholder}}"
                            aria-label="Search " aria-describedby="basic-addon2" formControlName="keyword">
                        <div class="input-group-append ">
                            <button class="btn btn-primary " type="submit">
                                <i class="fa fa-search fa-xs "></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th *ngFor="let item of config.columns" [ngStyle]="{ 'width': getHeaderStyle(item.header) }"
                            class="{{ item.className }}">
                            {{ item.header }}
                            <div class="sort-icons" *ngIf="item.sortable">
                                <button class="btn up" [class.active]="isSortActive(item.value, 'ASC')"
                                    (click)="onSortChange(item.value, 'ASC')">
                                    <i class="fa fa-caret-up" aria-hidden="true"></i>
                                </button>
                                <button class="btn down" [class.active]="isSortActive(item.value, 'DESC')"
                                    (click)="onSortChange(item.value, 'DESC')">
                                    <i class="fa fa-caret-down " aria-hidden="true"></i>
                                </button>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <!-- <ng-container *ngIf="dataLoaded "> -->
                    <tr *ngFor="let row of rows">
                        <td *ngFor="let column of config.columns" class="align-middle {{ column.className }}">

                            <ng-container *ngIf="column.url">
                                <a [routerLink]="getRouterLink(row, column.url)">
                                    {{ getColumnText(row, column) }}
                                </a>
                            </ng-container>

                            <ng-container *ngIf="column.pipe">
                                {{ applyPipe(row[column.value], column.pipe) }}
                            </ng-container>

                            <ng-container *ngIf="!column.url && !column.pipe">
                                <span *ngIf="column.value !=='actions'">
                                    {{ getColumnText(row, column) }}
                                </span>

                                <ng-container *ngIf="column.value==='actions'">
                                    <a type="button" class="btn btn-outline-primary" style="margin-right: 5px"
                                        [routerLink]="[config.baseUrl.url, findDeepByPath(row, idKey), 'edit'] ">
                                        <i class="fa fa-pencil "></i> Uredi
                                    </a>
                                    <a type="button" class="btn btn-outline-danger" (click)="handleDelete(row)">
                                        <i class="fa fa-trash "></i> Obriši
                                    </a>
                                </ng-container>

                            </ng-container>
                        </td>
                    </tr>
                    <!-- </ng-container> -->
                </tbody>
            </table>
        </div>

        <div class="row align-items-center my-3" *ngIf="this.pagination && rows">
            <div class="col">
                Showing {{ ((currentPage - 1) * pageSize) + (totalElements > 0 ? 1 : 0) }}
                to {{ currentPage * pageSize < totalElements ? currentPage * pageSize : totalElements }} of {{
                    totalElements }} entries </div>
                    <div class="col">
                        <nav class="pull-right" *ngIf="pages.length > 1">
                            <ul class="pagination mb-0">
                                <li class="page-item" [class.disabled]="currentPage <= 1">
                                    <button class="page-link" (click)="onPageChange(currentPage - 1)"
                                        aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </button>
                                </li>
                                <li *ngFor="let i of pages" class="page-item" [class.active]="+i === currentPage"
                                    [class.disabled]="i === '...'">
                                    <button class="page-link" (click)="onPageChange(+i)">{{ i }}</button>
                                </li>
                                <li class="page-item" [class.disabled]="currentPage >= pages.length">
                                    <button class="page-link" (click)="onPageChange(currentPage + 1)" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </button>
                                </li>
                            </ul>
                        </nav>
                    </div>
            </div>
        </div>

        <div class="card-footer">
            <button *ngFor="let button of config.buttons" (click)="handleBtnClick(button.actionName)" class="btn mr-3"
                [ngClass]="button.class">
                <i *ngIf="button.icon" [class]="button.icon" class="mr-2" style="font-size: 15px;"></i>
                <span class="text">{{ button.label }}</span>
            </button>
        </div>
    </div>