<div class="toast-container">
    @if (toasts$ | async; as toasts) {
    @for (toast of toasts; track toast.id) {
    <div class="toast" [class]="toast.type" [class.toast-leaving]="toast.leaving">
        <div class="toast-header">
            <i class="me-1" [class]="getIconClass(toast.type)" aria-hidden="true"></i>
            {{ toast.title }}
            <button type="button" class="toast-close" aria-label="Close" (click)="onCloseClick($event, toast.id)">
                &times;
            </button>
        </div>

        <div class="toast-message">
            {{ toast.message }}
        </div>
    </div>
    }
    }
</div>