.input-container {
    position: relative;
}

.input-container .form-control:focus {
    border-color: #80bdff;
    outline: none;
}

.input-container .form-control:disabled {
    opacity: 1;
}

.input-container .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    align-items: center;
    display: none;
    padding-left: 10px;
}

.input-container .overlay.visible {
    display: flex;
}

.input-container .overlay .clear-btn {
    pointer-events: all;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 0;
    position: absolute;
    right: 10px;
    top: 4px;
}

.clear-btn i {
    font-size: 13px;
}

.input-container .dropdown-menu {
    list-style: none;
    padding: 0;
}

.input-container .dropdown-menu .dropdown-item,
.input-container .dropdown-menu .dropdown-item.clickable:hover {
    cursor: pointer;
    background-color: transparent;
}

.input-container .dropdown-menu .dropdown-item.focused,
.input-container .dropdown-menu .dropdown-item.focused:hover {
    background-color: #e9ecef;
    color: #212529;
    border-radius: 0;
    cursor: pointer;
}

.dropdown-item small {
    font-size: 11px;
    color: gray;
}

.icon-up {
    position: relative;
    top: -1px;
    font-size: 12px;
}
