<nav aria-label="breadcrumb" class="custom-breadcrumb">
    <ol class="breadcrumb">
        @for (item of items; track $index; let last = $last) {
        <li class="breadcrumb-item" [class.active]="item.active || last"
            [attr.aria-current]="item.active || last ? 'page' : null">
            @if (!item.active && !last) {
            <a [routerLink]="item.url" [fragment]="item.fragment">
                {{ item.title }}
            </a>
            } @else {
            {{ item.title }}
            }
        </li>
        }
    </ol>
</nav>